
#mainbody {
    background-image: url('images/background image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Other styles */

table {
    width: 100%; /* Đặt bảng chiếm toàn bộ chiều rộng của container */
    height: 100vh; /* Chiều cao toàn bộ màn hình */
    border-collapse: collapse; /* Tùy chọn: Loại bỏ khoảng cách giữa các ô */
}

td {
    text-align: center; /* Căn giữa nội dung theo chiều ngang */
    vertical-align: middle; /* Căn giữa nội dung theo chiều dọc */
    padding: 20px; /* Tùy chọn: Thêm khoảng cách xung quanh hình ảnh */
}

img {
    max-width: 1000px; /* Đặt chiều rộng tối đa để hình ảnh có kích thước đồng đều */
    max-height: 1000px; /* Đặt chiều cao tối đa để hình ảnh có kích thước đồng đều */
}
